/* *{
    padding: 0;
    margin: 0;

} */

html { width:100%; height:100%; margin:0; padding:0; overflow-x:hidden}
body { width:100%; height:100%; margin:0; padding:0; overflow-x:hidden}

/* actor page css */
.actor-image {
color: white;
box-shadow: 0px 0px 8px rgb(3, 71, 67);
overflow: hidden;
border-top-right-radius:10px ;
border-top-left-radius: 10px;
/* margin-right: 10px; */
}

.actor-container > h3{
    padding: 10px;
    background-color: rgb(16, 67, 83);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    height: auto;
    margin-bottom: 5px;
    color: white;
}

.single-actor-img {
    width: auto;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid rgba(22, 111, 171, 0.378);
    margin: 10px;
}

.actor-info{
    color: white;
    justify-content: space-between;
}

.movie-cast-div{
    margin: 10px;
}

.movie-cast-div > img {
    color: white;
    box-shadow: 0px 0px 8px rgb(3, 71, 67);
    overflow: hidden;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}
.movie-cast-div > h6 {
    padding: 10px;
    background-color: rgb(16, 67, 83);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    height: auto;
    margin-bottom: 5px;
    color: white;
}
.movie-crew-div{
    margin: 10px;
}

.movie-crew-div > img{
    color: white;
    box-shadow: 0px 0px 8px rgb(3, 71, 67);
    overflow: hidden;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}

.movie-crew-div > h5 {
    padding: 10px;
    background-color: rgb(16, 67, 83);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    height: auto;
    margin-bottom: 5px;
    color: white;
}

.movie-in-cast{
    color: white;
}
.movie-in-crew{
    color: white;
}
/* actor page css */
.clickable:hover {
    cursor:pointer;
    box-shadow:  0px 1px 20px  rgb(38, 196, 180);
    transition: all 0.5s;
    /* padding-bottom:2px ; */
}

/* #movie-backdrop { */
    /* width: 100%; */
/* } */

#container {
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c); 
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePageMovies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 20px;
    /* width: 1400px; */
    padding: 10px;

}


.singleHomePageMovie {

    border-radius: 10px;

/* padding: 5px; */
color: white;
box-shadow: 0px 0px 8px rgb(3, 71, 67);
overflow: hidden;
}

.singleHomePageMovie > img{
    width: 100%;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}

.singleHomePageMovie > div
{
    padding: 10px;
    background-color: rgb(16, 67, 83);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    height: 100%;
}

.singleHomePageMovie > div> span{
 background: rgb(54, 191, 143);
 border: 2px solid rgb(57, 207, 202);
 border-radius: 8px;
 padding: 2px 5px;
 color: #f8fcfc;
 font-size: small;
 font-weight:600;
 
}


#movie-backdrop{
   align-self: baseline;
}

img#logo{
    width: 15%;
    border: none;
    box-shadow: none;
    border-radius: 0%;
}

.bi-github {
    color: black;
  }






  /* SINGLE MOVIE CSS  */

.singleMovieInfo{
   /* display: flex; */
   padding: 20px 0px;
}  


.singleMovieImageDiv > img {
    width: auto;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid rgba(22, 111, 171, 0.378);
}

.movieSectionDiv{
 padding : 0px 30px;
 justify-content: space-between;
 color: white;
}


.crewHeader {
color: rgb(255, 255, 255);
text-align: center;
font-size: 50px;
padding-top: 5px;
}

.crewContainer {
    gap: 55px;
    padding: 25px 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 178, 192);
}

    
.actorCrewList{
    background-color: rgb(23, 110, 136);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.actorCrewList:nth-of-type(1) {
    background-color: rgb(12, 68, 85);
}

.actorCrewList > img {
    width: 100%;
    overflow: hidden;
}
.actorCrewList > span {
    padding: 10px 20px;
}

.videoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.videoSection > h2 {
color: rgb(255, 255, 255);
text-align: center;
font-size: 50px;
padding-top: 5px;

}


.companiesSection{
    background-color: rgb(87, 178, 192);
    width: 100%;
    padding: 20px 100px;
}

.companiesSection >h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    padding: 5px;

}

.companies{
    padding: 20px 0;
    display: flex; 
    
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;


    color: white;
    gap: 10px;
}

.companies > div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    width: 300px;
    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.299);
    color: white;
}

.companies > div > h3 {
    width: 100%;
    text-align: center;
    background-color: rgb(11, 70, 88);
    font-size: medium;
    padding: 10px;
    font-weight: bold;
}

.companies > div > img {
    width: 100%;
    background-color: white;
    padding: 20px;
}



.relatedMoviesContainer {
    width: 100%;
}

.relatedMoviesContainer > h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    padding: 10px;
    
}

.relatedMoviesContainer > div {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px 0px;
}

.relatedMoviesContainer >div >div
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    width: 240px;
}
.relatedMoviesContainer >div >div> img
{
    width: 100%;
}

.relatedMoviesContainer >div >div> span
{
    background-color: rgb(11, 70, 88);
    color: white;   
    width: 100%;
    text-align: center;
    font-size: small;
    padding: 5px 0px;
    height: 100%;
}

.movieListPageMovie > h5{
    padding: 10px;
    background-color: rgb(16, 67, 83);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    height: auto;
    margin-bottom: 5px;
    color: white;
}
.movieListPageImg{
    color: white;
    box-shadow: 0px 0px 8px rgb(3, 71, 67);
    overflow: hidden;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}

.actorListPageActor > h5{
    padding: 10px;
    background-color: rgb(16, 67, 83);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    height: auto;
    margin-bottom: 5px;
    color: white;
}

.actorListPageImg{
    color: white;
    box-shadow: 0px 0px 8px rgb(3, 71, 67);
    overflow: hidden;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}


.footer{
    display: grid;
    /* grid-template-columns: 1fr, 1fr, 1fr, 1fr; */
    grid-column: 1fr 1fr;
    justify-content: center;
}
.footer> p{
    grid-column: 1/5 ;
    grid-row: 1/2;
    text-align: center;
}
.footer > p > strong{
    padding: 5px;
}

/* .footer > h4 {
    
} */

.github-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
}



@media only screen and (max-width: 1300px) {
    .homePageMovies{
        grid-template-columns: 1fr 1fr ;
        /* width: 600px; */
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .github-links {
       display: flex;
       flex-direction: column;
       margin: 5px;
       align-items: center;
    }

}
@media only screen and (max-width: 700px) {
    .homePageMovies{
        grid-template-columns: 1fr ;
        /* width: 350px; */
    }
    
}
@media only screen and (max-width: 766px){

    .singleMovieInfo{
        align-items: center;
        justify-content: center;
    }
    .videoSection > iframe{
        height: 100px;
        width: 200px;
    }
    .movieSectionDiv{
        margin: 20px;
        align-items: center;
    }
    .crewContainer{
        align-items: center;
        justify-content: center;
    }
    .actorImgContainer{
        align-items: center;
        justify-content: center;
        /* width: 400px; */
    }
    .actor-info{
        margin: 20px;
      
    }
}